name: Check Python formatting

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.10'

      - name: Install isort and black
        run: pip install isort black

      - name: Run isort
        run: isort --check-only --diff python/ tests/ bin/

      - name: Run black
        run: black --check --verbose --diff python/ tests/ bin/
